.resume {
    position: relative;
    padding: 25px 50px;
    text-align: left;
    background-color: white;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.1), 0 8px 16px -8px rgba(0,0,0,.25);
    min-height: 1128px;
    min-width: 800px;
}

.applicant-name {
    font-size: 2rem;
    margin: 0px;
}

.applicant-contact-info {
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 20px;
}

.applicant-contact-info > div {
    display: flex;
    align-items: center;
    gap: 2px;
}

.material-symbols-outlined {
    font-size: 1.5rem;
}

.resume-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    right: 0;
    transition: right .1s linear;
}

.relative-container {
    position: relative;
    height: 50px;
}

.resume-options-button {
    position: absolute;
    left: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, .25);
    transition: width .1s linear
}

.resume-options-button:hover {
    width: 180px;
}

.resume-option {
    margin-left: -8px;
    font-size: 1.6rem;
}

.resume-option-text {
    margin-left: 15px;
    margin-bottom: 2px;
    text-wrap: nowrap;
}