.resume {
    position: relative;
    padding: 25px 50px;
    text-align: left;
    background-color: white;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.1), 0 8px 16px -8px rgba(0,0,0,.25);
    min-height: 1128px;
    min-width: 800px;
}

.applicant-name {
    font-size: 2rem;
    margin: 0px;
}

.applicant-contact-info {
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 20px;
}

.applicant-contact-info > div {
    display: flex;
    align-items: center;
    gap: 2px;
}

.material-symbols-outlined {
    font-size: 1.5rem;
}

.resume-options {
    position: absolute;
    right: -70px;
}

.resume-options-button {
    background-color: transparent;
}

.print-option {
    background-color: rgba(0, 0, 0, .25);
    border-radius: 25px;
    padding: 10px;
}