*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.resume-tools {
    display: flex;
    flex-direction: column;
}

.section-adder {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 25px;
    border-radius: 10px;
    background-color: white;
    outline: 2px solid black;
}

.section-adder-icon {
    background-color: white;
    border-radius: 20px;
}

.section-main-button {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.section-buttons {
    position: relative;
    display: flex;
    align-items: center;
}

.expand-icon {
    position: absolute;
    right: 0;
}

.triple-dot-dropdown {
    flex: 0;
    padding: 0px;
}

.triple-dot-icon {
    padding-top: 4px;
}

.triple-dot-dropdown-section {
    position: absolute;
    left: 250px;
    top: 30px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

.dropdown-section-option-container {
    display: flex;
    align-items: center;

}

.option-icon {
    font-size: 1.2rem;
}

.delete {
    color: red;
}

.section-editor-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.editor-container {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 0;
    min-width: 300px;
    border: 2px solid black;
}

.entry-editor {
    margin-top: 5px;
    border-radius: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #F3F4F6;
}

input:active, input:focus {
    outline-color: #747bff;
}

button {
    background-color: white;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.button-flex {
    display: flex;
    flex-direction: column;
}

.editor-heading {
    margin: 0px;
}

.button-container:hover > .field-heading {
    border-bottom: 2px solid #747bff;
    box-sizing: border-box;
}

label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.open {
    transform: rotate(180deg);
}

textarea {
    resize: none;
    background-color: #F3F4F6;
    border-style: none; 
}

textarea:active, textarea:focus {
    outline-color: #747bff;
}

.cancel-button, .save-button {
    width: 150px;
    margin: 5px auto;
}

.cancel-button {
    border: 2px solid rgb(255, 32, 32);
}

.save-button {
    border: 2px solid #747bff;
}

.delete-button {
    display: flex;
    justify-content: center;
    color: rgb(255, 32, 32);
    width: 25px;
    align-self: center;
}

.text-only-checkbox-div {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.text-only-checkbox-div > input {
    margin-top: 5px;
}

.input-error {
    color: red;
}

button:disabled {
    border-color: grey;
}